/* Global styles */
:root {
  --background-color: #f2f2f2;
  --text-color: #333;
  --container-bg-color: #f2f2f2;
  --select-color: #333;
  --select-bg-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #333;
    --text-color: #fff;
    --container-bg-color: #444;
    --select-bg-color: #333;
    --select-color: #fff;
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
  border: 2px solid white;
  text-align: center;
}

.container {
  background-color: var(--container-bg-color);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 20px;
}

/* Form styles */
textarea {
  width: 100%;
  min-height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
  overflow-y: hidden;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--select-color);
  background-color: var(--background-color);
}

select {
  padding: 5px;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: var(--select-color);
  background-color: var(--select-bg-color);
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #555;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.line-number {
  counter-reset: line;
}

.line-number > div::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 30px;
  border-right: 1px solid #ddd;
  padding: 0 5px;
  margin-right: 5px;
  text-align: right;
}