<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <title>ElitePaste</title>
</head>
<body>
<div class="container">
    <label class="theme-toggle">
        <input type="checkbox" id="theme-toggle-input" onchange="toggleTheme()">
        <span class="slider round"></span>
    </label>
    <form method="post">
        Content: <br>
        <textarea name="content" id="content-textarea" oninput="autoGrow(this)"></textarea><br><br>
        Expiry:
        <select name="expiry">
            <option value="none">None</option>
            <option value="1_minute">1 Minutes</option>
			<option value="5_minute">5 Minutes</option>
			<option value="10_minute">10 Minutes</option>
            <option value="1_hour">1 Hour</option>
			<option value="1_day">1 Day</option>
        </select><br><br>
        <input type="submit" value="Create Paste">
    </form>
</div>
</body>
</html>
