<!DOCTYPE html>
<html>
  <head>
    <title>Paste not found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body>
    <header>
      <label class="theme-toggle">
        <input type="checkbox" id="theme-toggle-input" onchange="toggleTheme()">
        <span class="slider round"></span>
      </label>
    </header>
    <main>
      <div class="container">
        <h1>Paste not found</h1>
        <p>The paste you are looking for could not be found/or has expired. Please check the URL and try again.</p>
      </div>
    </main>
    <footer>
      <!-- Footer content goes here -->
    </footer>
  </body>
</html>