<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <script src="{{ url_for('static', filename='crypto.js') }}"></script>
    <script src="{{ url_for('static', filename='client.js') }}"></script>
  </head>
  <body>
    <noscript>
      <p class="container">You don't have javascript enabled, and this site requires Javascript to create and view pastes.</p>
    </noscript>
    <main>
      <div class="container">
        <div id="load-status">
          Please wait while the content is being loaded...
        </div>
        <pre id="content" class="content line-number" hidden>
          <!-- Placeholder. DIVs to be added by the AJAX client -->
        </pre>
      </div>
    </main>
    <footer>
      <!-- Footer content goes here -->
    </footer>
  </body>
</html>